{% extends "admin/content/change_list.html" %}
{% load admin_list i18n %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">
    // This represents the current state of the page tree. Would need to be
    // refreshed if pages are moved or deleted, but for now that is not possible
    var tree_structure = {{ tree_structure|default:"{}" }};
    var tree_structure_sort = tree_structure.sort
    delete tree_structure.sort

    // After loading the page, show all root nodes
    $(function() {
        {% if is_popup %}
        // resize window a bit, the default size is too small for the tree column
        window.resizeTo(Math.min(window.outerWidth+300, screen.availWidth), window.outerHeight);
        {% endif %}

        $('a.paste_target').hide();

        empty_sym       = '<img alt="-" src="{{ TREE_ADMIN_MEDIA }}icon-empty.png">';
        expand_sym      = '<img alt="+" src="{{ TREE_ADMIN_MEDIA }}icon-right.png">';
        collapse_sym    = '<img alt="*" src="{{ TREE_ADMIN_MEDIA }}icon-down.png">';

        // reduce structure to actually present items
        tree_structure_clean();

        // yuck :-)
        $('table thead tr th:eq(1)').addClass('title-column');

        // patch list entries into tabindex
        $('tr').keydown(function(event) {
            // 38 up, 40 down, 37 left, 39 right
            switch(event.keyCode) {
                case 40:    changelist_tab($(this), event, 1); break;   // down
                case 38:    changelist_tab($(this), event, -1); break;  // up
                case 37:    changelist_openclose(this, 0); break;       // left
                case 39:    changelist_openclose(this, 1); break;       // right
                case 13:    
                case 10:    item_id = changelist_itemid(this);
                            document.location = document.location.pathname + item_id + '/'; 
                            break; // return
                default:    break;
            }
        });

        $('tr').keypress(function(event) {
            switch(event.charCode) {
                case 43:    open_entire_tree(); break;  // +
                case 45:    close_entire_tree(); break; // -
                default:    break;
            }
        });
    });
</script>
{% endblock %}

{% block filters %}
{% if cl.has_filters %}
<div id="changelist-filter">
<h2>{% trans 'Shortcuts' %}</h2>
<ul>
    <li><a href="javascript: close_entire_tree();">{% trans 'Collapse tree' %}</a></li>
    <li><a href="javascript: open_entire_tree();">{% trans 'Expand tree' %}</a></li>
    <li><a href="javascript: void(0);" id="show_hide_ajax_bools">{% trans 'Show/Hide bools' %}</a></li>
</ul>
<h2>{% trans 'Filter' %}</h2>
{% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
</div>
{% endif %}
{% endblock %}