{% extends 'base.html' %}

{% block content %}

    <ul id="item_list">
        {% for item in item_list.object_list %}
        <li><h2><a href="{{ item.get_absolute_url }}{{ querystring.as__full }}">{{ item.name }}</a> {{ item.date_start|date:"d.m.Y" }}</h2></li>
        {% endfor %}
    </ul>

    {% with item_list.pagination as pagination %}
    {% include "nodes/pagination.html" %}
    {% endwith %}

{% endblock %}