{% comment %}
  require 3 variables:
    - pagination object
    - url_no_page string
    - querystring object
{% endcomment %}

{% load i18n %}
{% if pagination and pagination.num_pages > 1 and querystring and url_no_page %}
<div class="pagination">
    {% if pagination.first %}<span><a href="{{ url_no_page }}?page={{ pagination.first }}{{ querystring.no__page__as__part }}">Первая</a></span>{% endif %}
    {% if pagination.prev %}<span><a href="{{ url_no_page }}?page={{ pagination.prev }}{{ querystring.no__page__as__part }}">Предыдущая</a></span>{% endif %}
    {% if pagination.dots_left %}<span><a href="{{ url_no_page }}?page={{ pagination.dots_left }}{{ querystring.no__page__as__part }}">...</a></span>{% endif %}

    {% for page in pagination.pages %}
    {% if page.current %}
    <span>{{ page.number }}</span>
    {% else %}
    <span><a href="{{ url_no_page }}?page={{ page.number }}{{ querystring.no__page__as__part }}">{{ page.number }}</a></span>
    {% endif %}
    {% endfor %}

    {% if pagination.dots_right %}<span><a href="{{ url_no_page }}?page={{ pagination.dots_right }}{{ querystring.no__page__as__part }}">...</a></span>{% endif %}
    {% if pagination.next %}<span><a href="{{ url_no_page }}?page={{ pagination.next }}{{ querystring.no__page__as__part }}">Следующая</a></span>{% endif %}
    {% if pagination.last %}<span><a href="{{ url_no_page }}?page={{ pagination.last }}{{ querystring.no__page__as__part }}">Последняя</a></span>{% endif %}
</div>
{% endif %}