{% extends "admin/object_history.html" %}
{% load i18n %}

{% block content_title %}
{{ block.super }}
{% if request.FKEY_LIST %}<h2 style="margin: 0 0 8px 0;"><a href="{{ request.FKEY_LIST.list_link }}">{{ request.FKEY_LIST.fkey_name|capfirst }} list</a> / <a href="{{ request.FKEY_LIST.item_link }}">#{{ request.FKEY_LIST.id }}: {{ request.FKEY_LIST.item }}</a></h2>{% endif %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  {% if request.FKEY_LIST %}
  <a href="../../../../../">{% trans 'Home' %}</a> &rsaquo;
  <a href="../../../../">{{ app_label|capfirst }}</a> &rsaquo;
  <a href="../../../">{{ module_name }}</a> &rsaquo;
  <a href="../../">{{ module_name }} in {{ request.FKEY_LIST.fkey_name|capfirst }} #{{ request.FKEY_LIST.id }}</a> &rsaquo;
  <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
  {% trans 'History' %}
  {% else %}
  <a href="../../../../">{% trans 'Home' %}</a> &rsaquo;
  <a href="../../../">{{ app_label|capfirst }}</a> &rsaquo;
  <a href="../../">{{ module_name }}</a> &rsaquo;
  <a href="../">{{ object|truncatewords:"18" }}</a> &rsaquo;
  {% trans 'History' %}
  {% endif %}
</div>
{% endblock %}