{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="../../../">{% trans "Home" %}</a> &rsaquo;
    <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo;
    {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>
    {% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo;
    {% trans "Cache clear" %}
</div>
{% endblock %}

{% block content %}

    <p>{% trans 'Are you sure you want to clear system cache data?' %}</p>

    <form action="" method="post" id="{{ opts.module_name }}_form">
        {% csrf_token %}
        <div>
            <input type="hidden" name="post" value="yes">
            <input type="submit" value="{% trans "Yes, I'm sure" %}">
        </div>
    </form>

{% endblock %}