{% extends "admin/mptt_tree/tree_change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
  <li><a href="cache_clear/">{% trans "Cache clear" %}</a></li>
  {{ block.super }}
{% endblock %}